{% extends "base.html" %}

{% block body %}
    <!-- Create Post Form -->
    <section class="container mx-auto my-8">
        <form method="post" class="max-w-lg mx-auto bg-gray-800 p-6 rounded-lg">
            <h2 class="text-2xl font-bold mb-4 text-white">Create Post</h2>
            {% csrf_token %}
            {{ form.as_p }}
            <div class="flex justify-end">
                <button type="submit" class="bg-blue-500 hover:bg-blue-600 focus:ring-blue-500 focus:ring-offset-blue-200 text-white font-semibold py-2 px-4 border border-transparent rounded-md shadow-sm focus:outline-none focus:ring-2 focus:ring-offset-2">
                    Post
                </button>
            </div>
        </form>
    </section>
{% endblock %}
